<h1>User Sign up</h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your name" required><br>
    <input type="email" name="email" placeholder="Your email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br>
    <input type="submit" value="Register">

</form>