
<h1>User Sign in</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Your email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <input type="submit" value="Sign In">
</form>
